{{define "index"}}{{template "head" .}}
<div class="container">
	<div class="jumbotron">
		<h3>Hello from Comet</h3>
		<p class="lead">Build Desktop Apps in Electron, Go, Bootstrap and Vuejs</p>
		<p class="text-center">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/nKIu9yen5nc?list=PLuKvd2GQmvCBF1YOhgkdGnbFQKnvuXHSK" frameborder="0" allowfullscreen></iframe>
		</p>

	</div>
</div>
{{template "foot" .}}
{{end}}


